@import '../styles/_variables.scss';


header {
  @include rowDisplay();
  justify-content: space-between;
  width: 100%;
  padding: 1%;
}

.header-logo {
  @include headerFont(4em);
  margin: 0px;
  margin-left: .5em;
  text-align: center;
  text-shadow: 2px 2px #000;
}

.nav-btns {
  @include rowDisplay();
  margin-right: 2em;
}

.nav-btn {
  @include textFont(1.25em);
  color: white;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  margin: 5px;
  &:hover {
    text-decoration: underline;
    }
}