@import '../styles/_variables.scss';

.mgr-form {
  @include rowDisplay();
   input {
    @include textFont(.75em);
    color: $grey;
    border-radius: 4px;
    margin: 5px;
    padding: 1%;
  }
   button {
    background-color: $grey;
    border-radius: 6px;
    @include textFont(.75em);
    font-weight: bold;
    color: white;
    margin: 5px;
    padding: 1%;
    &:hover {
      color: grey;
      background: white;
    }
  }
}