@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@mixin headerFont($font-size) {
  font-family: 'Satisfy', cursive;
  font-size: $font-size;
  text-align: center;
  color: white;

}

@mixin textFont($fontSize) {
  font-family: 'Josefin', sans-serif;
  font-size: $font-size;
  text-align: center;
  color: white;
}

@mixin columnDisplay() {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
