@import '../styles/_variables.scss';

#root, .App {
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  background: url(../images/mountains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', serif;
  padding: 1%;
}

