@import '../styles/_variables.scss';

.App {
  display: flex;
  flex-direction: column;
  
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url(../images/plants.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', serif;
}

